{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 200,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "quoteProps": "consistent"
}

